@tailwind base;
@tailwind components;
@tailwind utilities;

/*primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary, and denary*/
:root {
    --color-primary-accent: #3482F6;
    --color-secondary-accent: #171717;
    --color-tertiary-accent: #E5E7EB;
    --color-quarter-accent: #00FF00;
    --color-quinary-accent: #00FF00;
    --color-senary-accent: #E5E7EB;
    --color-primary: #fff; 
    --color-secondary: #171717; 
    --color-tertiary: #D1D6DB; 
}

[data-theme="dark"] {
    --color-primary-accent: #FF00FF;
    --color-secondary-accent: #00FF00;
    --color-tertiary-accent: #00FF00;
    --color-quarter-accent: #171717;
    --color-quinary-accent: #fff;
    --color-senary-accent: #FFFF00;
    --color-primary: #171717; /* neutral-900 */
    --color-secondary: #fff;
    --color-tertiary: #D1D6DB; 
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

html {
    --primary: var(--color-primary);
    --secondary: var(var(--color-secondary));
    --tertiary: var(var(--color-tertiary));
    --primaryAccent: var(var(--color-primary-accent));
    --secondaryAccent: var(var(--color-secondary-accent));
    --tertiaryAccent: var(var(--color-tertiary-accent));
}

/* Heatmap */
/* https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class */
/* https://www.w3.org/TR/selectors/#general-sibling-combinators */
.Jan~.Jan,
.Feb~.Feb,
.Mar~.Mar,
.Apr~.Apr,
.May~.May,
.Jun~.Jun,
.Jul~.Jul,
.Aug~.Aug,
.Sep~.Sep,
.Oct~.Oct,
.Nov~.Nov,
.Dec~.Dec{
    visibility: hidden;
}

.month:nth-of-type(51){
    visibility: visible !important;
}

@layer components {
    .navBtn{
        @apply
            text-custom-secondary 
            md:inline-flex
            h-6
            cursor-pointer
            transform
            transition-all
            hover:scale-125
            duration-150
            ease-out
            z-10;
    }
}

@layer components {
    .fade {
        @apply
            transition-all
            ease-in-out
            duration-150;
    }
}

@layer base {
    h1 {
        font-size: 1.50em;
    }
    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1.00em;
    }
    h4 {
        font-size: 0.90em;
    }
    h5 {
        font-size: 0.80em;
    }
    h6 {
        font-size: 0.70em;
    }

    @font-face {
        font-family: 'Sharp Grotesk';
        src: url(/fonts/sharp-grotesk.ttf) format('truetype');
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }
        
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility:hidden;
        opacity:0;
        transition:visibility 0.3s linear,opacity 0.3s linear;
        background-color: black;
        border: 1px solid rgb(0,255,0);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        width: 120px;
        bottom: 175%;
        left: 50%;
        margin-left: -60px; 
        z-index: 50;
    }
        
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        opacity: 1;
        visibility: visible;
    }

    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -7px;
        border-width: 7px;
        border-style: solid;
        border-color: rgb(0,255,0) transparent transparent transparent;
    }
}